@{
    ViewData["Title"] = "Thank You";
}

<div class="container">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="alert-success text-center">
                <h2>Thank you!</h2>
                <h5>Your message has been sent successfully. I will try to get to you as soon as possible!</h5>
            </div>
        </div>
    </div>
</div>

